.trading-info-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.take-photo-button {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.take-photo-button ion-icon {
  font-size: 1.25rem;
}
