ion-modal.create-gallery-modal {
  --max-height: 350px;
  --width: 300px;
  --border-radius: 4px;
  --box-shadow: none;
  padding: 10px;
}

ion-modal.create-gallery-modal ion-toolbar {
  position: fixed;
}

ion-modal.create-gallery-modal .create-gallery-form-keyboard-on {
  position: absolute;
  top: 56px;
  height: calc(100% - 56px);
  width: 100%;
}

ion-modal.create-gallery-modal .create-gallery-form {
  position: absolute;
  top: 56px;
  height: calc(100% - 56px);
  width: 100%;
}

ion-modal.create-gallery-modal ion-buttons {
  position: absolute;
  bottom: 16px;
  right: 10px;
}

.create-gallery-close-icon {
  margin-right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.create-gallery-take-photo-button {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.create-gallery-take-photo-button ion-icon {
  font-size: 1.25rem;
}

.create-gallery-photo-preview {
  height: 120px;
  object-fit: cover;
  object-position: center;
}
