.account-address-form-keyboard-on {
  margin-top: 10px;
  height: 100%;
}

.account-address-form,
.account-address-form-keyboard-on {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.account-address-street-name-container {
  display: flex;
  gap: 10px;
}

.account-address-street-number {
  width: 180px;
}

.account-address-street-name {
  width: 100%;
}
