.home-explorer-empty-state,
.home-explorer-empty-search-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-explorer-empty-state {
  height: calc(100vh - 140px);
}

.home-explorer-empty-search-state {
  height: calc(100vh - 190px);
}
