.provider-trading-service-container {
  height: 130px;
}

.provider-trading-service-content {
  height: 100%;
}

.provider-trading-service-price-container {
  display: flex;
  justify-content: flex-end;
}

.provider-trading-service-name {
  font-weight: 700;
  color: var(--ion-text-color);
}

.provider-trading-service-duration {
  margin-right: 5px;
}

.provider-trading-service-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
