.sign-in-form-keyboard-on {
  margin-top: 10px;
  height: 100%;
}

.sign-in-form,
.sign-in-form-keyboard-on {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.sign-in-space-between {
  justify-content: space-between;
}

.sign-in-new-member,
.sign-in-forgot-password {
  cursor: pointer;
  color: var(--ion-color-primary);
}
