ion-modal.update-trading-time-modal {
  --height: 350px;
  --width: 300px;
  --border-radius: 4px;
  --box-shadow: none;
  padding: 10px;
}

ion-modal.update-trading-time-modal ion-buttons {
  position: absolute;
  bottom: 16px;
  right: 10px;
}

ion-modal.update-trading-time-modal ion-toolbar {
  position: fixed;
}

ion-modal.update-trading-time-modal .update-trading-time-form-keyboard-on {
  position: absolute;
  top: 56px;
  height: calc(100% - 56px);
  width: 100%;
}

ion-modal.update-trading-time-modal .update-trading-time-form {
  position: absolute;
  top: 56px;
  height: calc(100% - 56px);
  width: 100%;
}

ion-modal.update-trading-time-modal ion-buttons {
  position: absolute;
  bottom: 16px;
  right: 10px;
}

.custom-popover {
  width: 100%;
}

.update-trading-time-close-icon {
  margin-right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.picker {
  --width: 300px;
}

.picker-column {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.update-trading-time-time-container {
  display: flex;
}

.react-time-picker__inputGroup__input {
  width: 18px !important;
}

.react-time-picker__inputGroup__divider {
  padding: 1px 2px !important;
}
