ion-modal.create-service-modal {
  --height: 500px;
  --width: 370px;
  --border-radius: 4px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 10px;
  overflow-y: auto;
}

ion-modal.create-service-modal ion-toolbar {
  position: fixed;
}

ion-modal.create-service-modal ion-grid {
  position: relative;
  top: 56px;
  height: calc(100% - 56px);
  overflow-y: auto;
  padding: 10px;
}

ion-modal.create-service-modal ion-grid ion-row:last-child {
  position: absolute;
  bottom: 0px;
  right: 5px;
}

.create-service-close-icon {
  margin-right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.create-service-duration-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.create-service-duration-units-container {
  display: flex;
  gap: 10px;
}
