.sign-up-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sign-up-existing-member {
  cursor: pointer;
  color: var(--ion-color-primary);
}

.sign-up-names-container {
  display: flex;
  gap: 10px;
}

.sign-up-first-name,
.sign-up-lastname {
  width: 100%;
}
