.sign-up-form-keyboard-on {
  margin-top: 10px;
  height: 100%;
}

.sign-up-form,
.sign-up-form-keyboard-on {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.sign-up-existing-member {
  cursor: pointer;
  color: var(--ion-color-primary);
}

.sign-up-names-container {
  display: flex;
  gap: 10px;
}

.sign-up-first-name,
.sign-up-lastname {
  width: 100%;
}
