ion-modal.update-service-modal {
  --height: 550px;
  --width: 370px;
  --border-radius: 4px;
  --box-shadow: none;
  padding: 10px;
  overflow-y: auto;
}

ion-modal.update-service-modal ion-toolbar {
  position: fixed;
}

ion-modal.update-service-modal .update-service-form-keyboard-on {
  position: absolute;
  top: 56px;
  height: 100vh;
}

ion-modal.update-service-modal .update-service-form {
  position: absolute;
  top: 56px;
  height: calc(100% - 56px);
}

ion-modal.update-service-modal ion-buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.update-service-close-icon {
  margin-right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.update-service-duration-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.update-service-duration-units-container {
  display: flex;
  gap: 10px;
}
