ion-modal.create-staff-modal {
  --height: 350px;
  --width: 370px;
  --border-radius: 4px;
  --box-shadow: none;
  padding: 10px;
}

ion-modal.create-staff-modal ion-toolbar {
  position: fixed;
}

ion-modal.create-staff-modal .create-staff-form-keyboard-on {
  position: absolute;
  top: 56px;
  height: calc(100% - 56px);
  width: 100%;
}

ion-modal.create-staff-modal .create-staff-form {
  position: absolute;
  top: 56px;
  height: calc(100% - 56px);
  width: 100%;
}

ion-modal.create-staff-modal ion-buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.create-staff-close-icon {
  margin-right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}
